* {box-sizing: border-box;}

@font-face {
	font-family: 'Futura_Condenced-Normal';
	src: url('../font/Futura_Condenced-Normal.eot');
	src: local('../font/Futura_Condenced-Normal'),
		url('../font/Futura_Condenced-Normal.eot?#iefix') format('embedded-opentype'),
		url('../font/Futura_Condenced-Normal.woff') format('woff'),
		url('../font/Futura_Condenced-Normal.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html {
	margin: 0;
	padding: 0;
}

body {
	background: url(../images/party/background.jpg);
	transition: background linear 2s;
}

.wrap {
	position: relative;
	width: 600px;
	margin: 0 auto;
}


/* Пати */
.group-list {
	width: 300px;
	list-style-type: none;
	position: absolute;
	top: 0; right: 0;
	margin: 0;
}

.group-memeber {
	margin-bottom: 10px;
}

.group-memeber .head-line {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	text-align: right;
	cursor: pointer;
	margin-bottom: 5px;
}

.group-memeber .leader-icon svg {
	display: none;
	width: 22px;
	height: 22px;
	margin-left: 5px;
	color: #fff;
}

.group-memeber.leader .leader-icon svg {
	display: inline-block;
}

.group-memeber .nickname {
	color: #FEFEFE;
	font-family: Arial;
	font-size: 15pt;
	opacity: 0.7;
	transition: opacity 0.3s;
	flex-grow: 1;
}

.group-memeber:hover .nickname {
	opacity: 1;
}

.group-memeber .heal-line,
.group-memeber .heal-line .value {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%);
}

.group-memeber .mana-line,
.group-memeber .mana-line .value {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 1% 100%);
}

.group-memeber .heal-line {
	background: rgba(43, 42, 41, 0.7);
	height: 18px;
	padding: 1px 1px;
	overflow: hidden;

	margin-bottom: 2px;
}
.group-memeber .heal-line .value {
	display: inline-block;
	width: 100%;
	height: 15px;
	background: url(../images/party/heal.jpg) no-repeat;
	background-size: 100% 100%;
	transition: width ease 0.6s;
}

.group-memeber .mana-line {
	background: rgba(43, 42, 41, 0.7);
	height: 8px;
	padding: 1px 1px;
	overflow: hidden;
	margin-left: 6px;
}
.group-memeber .mana-line .value {
	display: inline-block;
	width: 100%;
	height: 5px;
	background: url(../images/party/mana.jpg) no-repeat;
	background-size: 100% 100%;
	transition: width ease 0.6s;
}





/* Выпадающие меню */
.group-menu {
	display: none;
	width: 300px;
	list-style-type: none;
	position: absolute;
	top: 0; left: 0;
	animation: fadein 0.5s;
}

.group-item {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 8px;
	cursor: pointer;
}

.group-item .group-title {
	position: relative;
	text-transform: uppercase;
	font-family: 'Futura_Condenced-Normal';
	font-size: 15px;
	color: #000;
	padding: 5px 10px;
	flex-grow: 1;

	left: 0;

	transition-property: color, left;
	transition-duration: 0.5s, 0.5s;
}

.group-item .group-title span {
	position: relative;
	z-index: 1;
}

.group-item .group-title:before {
	content: '';
	position: absolute;
	z-index: 0;
	top: 0; bottom: 0;
	left: 0; right: 0;
	transition: opacity 0.5s;
	background: linear-gradient(to right, rgba(254, 254, 254, 1), rgba(255, 255, 255, 0));
}

.group-item .group-title:after {
	content: '';
	position: absolute;
	z-index: 0;
	top: 0; bottom: 0;
	left: 0; right: 0;
	opacity: 0;
	transition: opacity 0.5s;
	background: linear-gradient(to right, rgba(31, 27, 32, 1), rgba(31, 27, 32, 0));
}

.group-item .group-title svg {
	opacity: 0;
	position: absolute;
	top: 6px; right: 0;
	color: #fff;
	width: 15px;
	height: 15px;
	transition: opacity 0.5s;
}

.group-item:hover .group-title {
	color: #fff;
	left: -15px;
}
.group-item:hover .group-title:before {opacity: 0;}
.group-item:hover .group-title:after {opacity: 1;}
.group-item:hover .group-title svg {opacity: 1;}



.group-item .group-icon {
	width: 27px;
	height: 27px;
	padding: 6px;
	transition: background 0.5s;
	background: rgba(254, 254, 254, 0.8);
}

.group-item .group-icon svg {
	width: 15px;
	height: 15px;
	color: #000;
}

.group-item:hover .group-icon {
	background: rgba(31, 27, 32, 0.8);
}

.group-item:hover .group-icon svg {
	color: #fff;
}


/* Анимации */
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}